body{
    background-image: url(../imagenes/im1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
}

.transparenciaBusqueda{
padding-top: 10px;
padding-bottom: 270px;
background-image: url(../imagenes/transparencia85.png);

}